<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" />
  <link rel="stylesheet" type="text/css" href="app/lib/chosen-spinner.css" />
  <link rel="stylesheet" href="css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="app/lib/angular.min.js"></script>
  <script src="app/lib/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
  <script src="app/lib/angular-chosen.min.js"></script>
  <script src="app/app.js"></script>
</head>
<body ng-app="appModule">
  <div class="container">
    <div class="banner section">
      <nav>
        <ul class="navigation">
          <li><a href="#FIXME" title="Menu1">Menu1</a></li>
          <li><a href="#FIXME" title="Menu1">Menu2</a></li>
          <li><a href="#FIXME" title="Menu1">Menu3</a></li>
          <li><h1 class="logo"><a href="#FIXME" title="LOGO">LOGO</a></h1></li>
          <li><a href="#FIXME" title="Menu1">Menu4</a></li>
          <li><a href="#FIXME" title="Menu1">Menu5</a></li>
          <li><a href="#FIXME" title="Menu1">Menu6</a></li>
        </ul>
      </nav>
      <a class="scroll-down fa fa-long-arrow-down" href="#delivery" title="Scroll Down"></a>
    </div>

    <div id="delivery" class="delivery section">
      <div class="wrapper" ng-controller="appController">
        <div class="form">
          <form name="inputForm" ng-submit="addItem(newItem)" novalidate>
            <label for="brand">Brand*</label>
            <select
              ng-model="newItem.brand"
              ng-required="true"
              chosen="directiveOptions"
              ng-options="value for value in brandAndProduct.brand">
              <option value=""></option>
            </select>
            <label for="product">Product*</label>
            <select
              ng-model="newItem.product"
              ng-required="true"
              chosen="directiveOptions"
              ng-options="value for value in brandAndProduct.product">
              <option value=""></option>
            </select>
            <label for="quantity">Quantity*</label>
            <input id="quantity" type="number"placeholder="Enter Quantity You Want" ng-model="newItem.quantity" ng-required="true">
            <label for="datepicker">Expected Delivery Date*</label>
            <input id="datepicker" type="text"placeholder="Expected Delivery Date" ng-model="newItem.delivery" ng-required="true" readonly>
            <button type="submit" ng-disabled="inputForm.$invalid">Save</button>
          </form>
        </div>
        <div class="data">
          <table class="table">
            <tr>
              <th>Brand</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Delivery</th>
              <th>Options</th>
            </tr>
            <tr ng-repeat="item in list">
              <td>{{item.brand}}</td>
              <td>{{item.product}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.delivery}}</td>
              <td><span class="edit" ng-click="editItem(item)">Edit</span><span class="delete" ng-click="deleteItem(item)">Delete</span></td>
            </tr>
          </table>

        </div>
      </div>
      <div class="center">
        <a class="scroll-down fa fa-long-arrow-down" href="#career" title="Scroll Down"></a>
        </div>
    </div>

    <div id="career" class="career section">
      <div class="wrapper">
        <h2 class="hideme">Career</h2>
        <p class="hideme">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spe</p>
        <a class="hideme apply-btn" href="#job">Apply</a>
      </div>
    </div>

    <div id="job" class="apply section" ng-controller="jobController">
      <div class="wrapper">
        <table class="table">
          <tr>
            <th>Sr.No</th>
            <th>Position</th>
            <th>Experience</th>
            <th>Location</th>
            <th>Expiry Date</th>
            <th>Link</th>
          </tr>
          <tr class="hideme" ng-repeat="job in jobs">
            <td>{{job.id}}</td>
            <td>{{job.position}}</td>
            <td>{{job.experience}}</td>
            <td>{{job.location}}</td>
            <td>{{job.expire}}</td>
            <td><a href={{job.url}} title="Apply here">Apply here</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src="app\script.js"></script>
</body>
</html>
